$url: "../../Assets/Images/bgimg.webp";

.section-content {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0.8rem;

    .wrapper-content {
        width: 70%;
        height: 70%;

        .wrapper-form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgba($color: $color-secundary, $alpha: .95);

			.form-control {
				width: 60%;
				position: relative;
			}
    
            .form-button {
                width: 60%;
				padding: 0;
            }
        }

        .wrapper-img {
            display: none;
            width: 50%;
            height: 100%;
            flex-wrap: nowrap;
            background-image: url($url);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

@media screen and (max-width: 400px) {
    .section-content {
        font-size: 0.7rem;

        .wrapper-content {
            .wrapper-form {
                justify-content: center;
                gap: 0.5rem;
            }
        }
    }
    
    .global-inputs-style {
        height: 1.8rem;
    }

    .btn {
        height: 1.8rem;
    }

    .global-inputs {
        height: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    .section-content {
        background-image: none;
        .wrapper-content {
            display: flex;
            width: 100%;
            height: 100%;
    
            .wrapper-form {
                width: 50%;
                justify-content: center;
                gap: 2rem;

                .input-content {
                    width: 60%;
                }

                .form-button {
                    width: 60%;
                }
            }

            .wrapper-img {
                display: flex;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .form-section {
        .wrapper-content {
            .wrapper-form {
                .input-content {
                    width: 50%;
                }

                .form-button {
                    width: 50%;
                }
            }
        }
    }
}