@import 'variables';

html {
    font-family: $myfont;
}

::-webkit-scrollbar {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-title {
    background-color: rgba(555,555,555,.1);
    backdrop-filter: blur(.2em);
    border-radius: .1em;
}

.font-w {
    font-weight: 600;
}

.page {
    width: 100%;
    height: 100vh;
}

.global-inputs-style {
    width: 100%;
    height: 2.5rem;
    border-radius: 1.5rem;
    border: .13rem solid $color-gray;
    background-color: transparent;
    position: relative;

    &:focus {
        outline: none;
    }
}

.btn {
    height: 2.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: $color-gray;
    color: $color-secundary;
    border: none;
}

.danger {
	position: absolute;
	top: -6rem;
	left: -4rem;
	background-color: rgba($color: $color-primary, $alpha: .7);
    backdrop-filter: blur(1rem);
	display: flex;
	justify-content: center;
	align-items: center;
    color: $color-secundary;
    border-radius: .5rem;
    padding: .8rem;
}

.text-danger {
    color: red;
}

.border-danger {
    border: .13rem solid red;
}

.iconInfo {
    position: absolute;
    right: .2rem;
    transform: translateY(-50%);
    top: 50%;
}

.disabled {
    background-color: $color-disabled;
    cursor: auto;
}

.margin_par {
    margin: 0 2rem;
}